# How Player Height Affects the NBA
### Analysis Team
*Lindsay Reynolds, Nick Sheets*

In [1]:
#%matplotlib notebook
#take out the hashtag if we will use this

In [2]:
# Set up dependencies and read in csv files needed
import os
import pandas as pd

import matplotlib.pyplot as plt
import numpy as np

In [3]:
# Read in stats csv file from data exploration/cleanup process
player_stats_path = os.path.join("Output_files_for_analysis", "player_stats.csv")

nba_stats_df = pd.read_csv(player_stats_path)
nba_stats_df

# Need to drop the extra column of index

,Unnamed: 0,player_name,height (in),pts,reb,ast,college,country,team,Height Range
0,0,AJ Hammons,84.0,2.200000,1.600000,0.200000,Purdue,USA,DAL,"6'10"" - 7'"
1,1,Aaron Brooks,72.0,3.650000,0.800000,1.250000,Oregon,USA,MIN,<= 6ft
2,2,Aaron Gordon,81.0,15.433333,6.800000,2.633333,Arizona,USA,ORL,"6'7"" - 6'9"""
3,3,Aaron Harrison,78.0,3.450000,1.650000,0.900000,Kentucky,USA,CHA,"6'4"" - 6'6"""
4,4,Aaron Holiday,73.0,5.900000,1.300000,1.700000,UCLA,USA,IND,"6'1"" - 6'3"""
...,...,...,...,...,...,...,...,...,...,...
743,743,Zach Lofton,76.0,0.000000,0.000000,0.000000,New Mexico State,USA,DET,"6'4"" - 6'6"""
744,744,Zach Randolph,81.0,14.300000,7.450000,1.950000,Michigan State,USA,SAC,"6'7"" - 6'9"""
745,745,Zaza Pachulia,83.0,5.133333,4.833333,1.600000,None,Georgia,GSW,"6'10"" - 7'"
746,746,Zhaire Smith,76.0,6.700000,2.200000,1.700000,Texas Tech,USA,PHI,"6'4"" - 6'6"""
747,747,Zhou Qi,85.0,1.600000,0.600000,0.050000,None,China,HOU,> 7ft

In [4]:
# Read in csv file including salary from data exploration/cleanup process
nba_stats_with_salary_path = os.path.join("Output_files_for_analysis", "player_stats_with_sal.csv")

nba_stats_with_salary_df = pd.read_csv(nba_stats_with_salary_path)
nba_stats_with_salary_df

# Need to drop the extra column of index

,Unnamed: 0,player_name,height (in),pts,reb,ast,college,country,team,2020-21
0,2,Aaron Gordon,81.0,15.433333,6.800000,2.633333,Arizona,USA,ORL,"$18,136,364"
1,4,Aaron Holiday,73.0,5.900000,1.300000,1.700000,UCLA,USA,IND,"$2,345,640"
2,6,Abdel Nader,78.0,3.500000,1.700000,0.400000,Iowa State,Egypt,BOS,"$1,752,950"
3,8,Al Horford,82.0,13.500000,6.966667,4.633333,Florida,Dominican Republic,BOS,"$27,500,000"
4,10,Al-Farouq Aminu,81.0,9.133333,7.500000,1.366667,Wake Forest,USA,POR,"$9,720,900"
...,...,...,...,...,...,...,...,...,...,...
319,747,Willie Cauley-Stein,84.0,10.933333,6.633333,1.966667,Kentucky,USA,SAC,"$4,000,000"
320,756,Yuta Watanabe,81.0,2.600000,2.100000,0.500000,George Washington,Japan,MEM,"$321,893"
321,757,Zach Collins,84.0,5.500000,3.750000,0.850000,Gonzaga,USA,POR,"$5,406,255"
322,758,Zach LaVine,77.0,19.766667,4.000000,3.500000,UCLA,USA,MIN,"$19,500,000"
323,762,Zhaire Smith,76.0,6.700000,2.200000,1.700000,Texas Tech,USA,PHI,"$3,204,600"