# How Player Height Affects the NBA

## Analysis Team
*Lindsay Reynolds, Nick Sheets*

## Data Exploration and Cleanup
### Data Exploration
####  Resources
Identifying resources to use was difficult for this project.
* The early issues were in locating an API that could be used.
  * APIs with too few calls a day for free accounts  
  * An API with free trial, but to be used to make a decision about subscribing
  * Finding others describing the APIs on www.nba.com as not well documented  
  * A well-documented API that could have been pursued with more time
    * [pip install nba-api](https://pypi.org/project/nba-api/)  
* Abandoned looking for an API to use and switched to searching for resources on Kaggle
  * [Kaggle: Basketball Dataset](https://www.kaggle.com/wyattowalsh/basketball) - Wyatt Walsh  
    * Several great csv files, including player heights, stats and salaries,  
      but download of the project is in SQLite rather than for individual csv files
  * [Kaggle: NBA Games Data](https://www.kaggle.com/nathanlauga/nba-games) - Nathan Lauga
    * Not much available for player profile (no heights, no background details)
    * games_details.csv 
      * There are > 600,000 rows of data for each player, for each game
      * Game ID instead of dates
      * Complexity of Game ID (preseason start with 1, regular season 2 and post-season 4)
      * Issue would still remain to sum up every player in the data set for each season
  * [Kaggle: NBA Players Data](https://www.kaggle.com/justinas/nba-players-data) - Justinas Cirtautas
    * Find heights of players here
    * Find yearly averages by player for points, rebounds and assists
    * Limitation - there is no data for blocks
    * Decision made to proceed using this data
* To analyze salary found 2020-21 salaries online  
  [Sports Reference LLC:  Basketball-Reference.com "2020-21 NBA Player Contracts" (4/22/2021)](https://www.basketball-reference.com/contracts/players.html) 
    
####  Data Cleanup
Filtered down to only the seasons desired, then filtered more for the columns needed  
Height started in cm and needed converted to inches (and then to feet and inches as needed)  
Needed to sync up how the player column was named in each df
* One issue was with salary df, where Player is like Stephen Curry\curryst01


#### Insights during Data Exploration and Cleanup
In wanting to examine salary
* Data is for the 2020-21 season and forward
* Surpising drop in the players being analyzed for salary  
  * From the player data being analyzed for stats across three seasons  
    (with most recent season 2018-19), we had 748 different players  
   * 2020-21 Salaries started as 508 rows, with 488 different players
   * Of the 748 players for stats analysis, only 324 of those have 2020-21 salaries
   * Over half of NBA players from just a few years ago are not playing in NBA today

In [1]:
# Set up dependencies and read in csv files needed
import os
import pandas as pd

import matplotlib.pyplot as plt
import matplotlib.image as img

In [2]:
csv_path = os.path.join("Resources", "all_seasons.csv")
csv_path

'Resources\\all_seasons.csv'

In [3]:
salary_path = os.path.join("Resources", "NBA_salaries.csv")
salary_path

'Resources\\NBA_salaries.csv'

In [4]:
# Create df for player info/stats
nba_data_set_df = pd.read_csv(csv_path)
nba_data_set_df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
0,0,Dennis Rodman,CHI,36,198.12,99.790240,Southeastern Oklahoma State,USA,1986,2,...,5.7,16.1,3.1,16.1,0.186,0.323,0.100,0.479,0.113,1996-97
1,1,Dwayne Schintzius,LAC,28,215.90,117.933920,Florida,USA,1990,1,...,2.3,1.5,0.3,12.3,0.078,0.151,0.175,0.430,0.048,1996-97
2,2,Earl Cureton,TOR,39,205.74,95.254320,Detroit Mercy,USA,1979,3,...,0.8,1.0,0.4,-2.1,0.105,0.102,0.103,0.376,0.148,1996-97
3,3,Ed O'Bannon,DAL,24,203.20,100.697424,UCLA,USA,1995,1,...,3.7,2.3,0.6,-8.7,0.060,0.149,0.167,0.399,0.077,1996-97
4,4,Ed Pinckney,MIA,34,205.74,108.862080,Villanova,USA,1985,1,...,2.4,2.4,0.2,-11.2,0.109,0.179,0.127,0.611,0.040,1996-97
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11140,11140,Maxi Kleber,DAL,28,208.28,108.862080,None,Germany,Undrafted,Undrafted,...,9.1,5.4,1.1,4.6,0.056,0.140,0.136,0.605,0.064,2019-20
11141,11141,Melvin Frazier Jr.,ORL,23,195.58,97.522280,Tulane,USA,2018,2,...,1.2,0.3,0.1,-2.4,0.018,0.058,0.164,0.480,0.033,2019-20
11142,11142,Meyers Leonard,MIA,28,213.36,117.933920,Illinois,USA,2012,1,...,6.1,5.1,1.1,5.6,0.029,0.217,0.120,0.640,0.076,2019-20
11143,11143,Norvel Pelle,PHI,27,208.28,104.779752,None,USA,Undrafted,Undrafted,...,2.1,3.0,0.4,-16.4,0.085,0.237,0.126,0.521,0.056,2019-20
11144,11144,Matt Thomas,TOR,25,193.04,86.182480,Iowa State,USA,Undrafted,Undrafted,...,4.5,1.4,0.5,1.0,0.017,0.104,0.149,0.663,0.089,2019-20

In [5]:
# Create df from the salaries csv
nba_salary_df = pd.read_csv(salary_path)
nba_salary_df

,Rk,Player,Tm,2020-21,2021-22,2022-23,2023-24,2024-25,2025-26,Signed Using,Guaranteed
0,1,Stephen Curry\curryst01,GSW,43006362.0,45780966.0,NaN,NaN,NaN,NaN,Bird Rights,88787328.0
1,2,Russell Westbrook\westbru01,WAS,41358814.0,44211146.0,47063478.0,NaN,NaN,NaN,Bird Rights,85569960.0
2,3,Chris Paul\paulch01,PHO,41358814.0,44211146.0,NaN,NaN,NaN,NaN,Bird Rights,41358814.0
3,4,John Wall\walljo01,HOU,41254920.0,44310840.0,47366760.0,NaN,NaN,NaN,Bird Rights,85565760.0
4,5,James Harden\hardeja01,BRK,40824000.0,43848000.0,46872000.0,NaN,NaN,NaN,Bird Rights,84672000.0
...,...,...,...,...,...,...,...,...,...,...,...
503,504,Justin Anderson\anderju01,PHI,125000.0,NaN,NaN,NaN,NaN,NaN,NaN,125000.0
504,505,Troy Williams\willitr02,HOU,122741.0,122741.0,122741.0,NaN,NaN,NaN,NaN,368223.0
505,506,Demetrius Jackson\jacksde01,BOS,92857.0,92857.0,92857.0,92857.0,NaN,NaN,NaN,371428.0
506,507,Henry Ellenson\ellenhe01,TOR,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,50000.0
507,508,Chimezie Metu\metuch01,SAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50000.0

In [6]:
# Adjust Player column to only show the first and last name
nba_salary_df["Player"] = nba_salary_df["Player"].str.split("\\").str[0]
nba_salary_df

,Rk,Player,Tm,2020-21,2021-22,2022-23,2023-24,2024-25,2025-26,Signed Using,Guaranteed
0,1,Stephen Curry,GSW,43006362.0,45780966.0,NaN,NaN,NaN,NaN,Bird Rights,88787328.0
1,2,Russell Westbrook,WAS,41358814.0,44211146.0,47063478.0,NaN,NaN,NaN,Bird Rights,85569960.0
2,3,Chris Paul,PHO,41358814.0,44211146.0,NaN,NaN,NaN,NaN,Bird Rights,41358814.0
3,4,John Wall,HOU,41254920.0,44310840.0,47366760.0,NaN,NaN,NaN,Bird Rights,85565760.0
4,5,James Harden,BRK,40824000.0,43848000.0,46872000.0,NaN,NaN,NaN,Bird Rights,84672000.0
...,...,...,...,...,...,...,...,...,...,...,...
503,504,Justin Anderson,PHI,125000.0,NaN,NaN,NaN,NaN,NaN,NaN,125000.0
504,505,Troy Williams,HOU,122741.0,122741.0,122741.0,NaN,NaN,NaN,NaN,368223.0
505,506,Demetrius Jackson,BOS,92857.0,92857.0,92857.0,92857.0,NaN,NaN,NaN,371428.0
506,507,Henry Ellenson,TOR,50000.0,NaN,NaN,NaN,NaN,NaN,NaN,50000.0
507,508,Chimezie Metu,SAC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50000.0

In [7]:
# Remove columns not needed from salary df and rename player column like the stats df
salary_data_filter_df = nba_salary_df[["Player", "2020-21"]]
salary_data_filter_df = salary_data_filter_df.rename(columns={"Player" : "player_name"})
salary_data_filter_df

           player_name     2020-21
0        Stephen Curry  43006362.0
1    Russell Westbrook  41358814.0
2           Chris Paul  41358814.0
3            John Wall  41254920.0
4         James Harden  40824000.0
..                 ...         ...
503    Justin Anderson    125000.0
504      Troy Williams    122741.0
505  Demetrius Jackson     92857.0
506     Henry Ellenson     50000.0
507      Chimezie Metu         NaN

[508 rows x 2 columns]

In [8]:
# Examine the unique player names for those with 2020-21 salaries
players_with_2021_sal = salary_data_filter_df["player_name"].unique()
print(len(players_with_2021_sal))
players_with_2021_sal

488

array(['Stephen Curry', 'Russell Westbrook', 'Chris Paul', 'John Wall',
       'James Harden', 'LeBron James', 'Kevin Durant', 'Paul George',
       'Klay Thompson', 'Mike Conley', 'Jimmy Butler', 'Kemba Walker',
       'Kawhi Leonard', 'Tobias Harris', 'Kyrie Irving',
       'Khris Middleton', 'Anthony Davis', 'Blake Griffin',
       'Damian Lillard', 'Kevin Love', 'Kyle Lowry', 'Joel Embiid',
       'Andrew Wiggins', 'Kristaps Porziņģis', 'Devin Booker',
       'Karl-Anthony Towns', 'CJ McCollum', 'Ben Simmons', 'Jamal Murray',
       'Pascal Siakam', 'Bradley Beal', 'Andre Drummond',
       "D'Angelo Russell", 'Nikola Jokić', 'Gordon Hayward',
       'Otto Porter', 'DeMar DeRozan', 'Giannis Antetokounmpo',
       'Steven Adams', 'Al Horford', 'Brandon Ingram', 'Rudy Gobert',
       'Jrue Holiday', 'Nikola Vučević', 'Buddy Hield', 'Jaylen Brown',
       'Draymond Green', 'Harrison Barnes', 'Fred VanVleet',
       'Victor Oladipo', 'Malcolm Brogdon', 'Danilo Gallinari',
       'Zach LaVine', 'Gary Harris', 'Jerami Grant', 'Tim Hardaway Jr.',
       'Terry Rozier', 'Julius Randle', 'LaMarcus Aldridge',
       'Aaron Gordon', 'Myles Turner', 'Bogdan Bogdanović',
       'Goran Dragić', 'Bojan Bogdanović', 'Domantas Sabonis',
       'Ricky Rubio', 'Evan Fournier', 'Eric Bledsoe', 'Eric Gordon',
       'Gorgui Dieng', 'Caris LeVert', 'Joe Harris', 'James Johnson',
       'Clint Capela', 'Dennis Schröder', 'Cody Zeller', 'Danny Green',
       'Dāvis Bertāns', 'Jonas Valančiūnas', 'Andre Iguodala',
       'Marcus Morris', 'Kelly Oubre Jr.', 'Dejounte Murray', 'Rudy Gay',
       'Taurean Prince', 'Will Barton', 'Thaddeus Young', 'Terrence Ross',
       'Marcus Smart', 'Patrick Beverley', 'Malik Beasley', 'Patty Mills',
       'Christian Wood', 'J.J. Redick', 'Justise Winslow', 'Trevor Ariza',
       'Brook Lopez', 'Dion Waiters', 'Cory Joseph', 'Markelle Fultz',
       'Kelly Olynyk', 'Tony Snell', 'Robert Covington',
       'Kentavious Caldwell-Pope', 'Jusuf Nurkić', 'T.J. Warren',
       'Larry Nance Jr.', 'Jordan Clarkson', 'Spencer Dinwiddie',
       'Dillon Brooks', 'Lonzo Ball', 'Norman Powell', 'Joe Ingles',
       'Josh Richardson', 'Jeremy Lamb', 'DeAndre Jordan',
       'Zion Williamson', 'Dwight Powell', 'Rodney Hood', 'Deandre Ayton',
       'Tomáš Satoranský', 'Paul Millsap', 'Jayson Tatum',
       'Anthony Edwards', 'Al-Farouq Aminu', 'Dante Exum', 'George Hill',
       'Kyle Anderson', 'Meyers Leonard', 'Derrick Jones Jr.',
       'Jae Crowder', 'Derrick Favors', 'Montrezl Harrell',
       'Tristan Thompson', 'Serge Ibaka', 'Ja Morant', 'Nicolas Batum',
       'Delon Wright', 'Marvin Bagley III', 'Cedi Osman', 'James Wiseman',
       'Dario Šarić', 'Thomas Bryant', 'Maxi Kleber', 'RJ Barrett',
       'Jakob Poeltl', "De'Aaron Fox", 'Luka Dončić', "Royce O'Neale",
       'Mason Plumlee', 'Lou Williams', 'P.J. Tucker', 'Tyus Jones',
       'LaMelo Ball', 'Seth Curry', "De'Anthony Melton", 'Derrick Rose',
       'Cristiano Felício', 'Rajon Rondo', "De'Andre Hunter",
       'Jonathan Isaac', 'Doug McDermott', 'Robin Lopez',
       'Jaren Jackson Jr.', 'JaMychal Green', 'Nemanja Bjelica',
       'Patrick Williams', 'Ivica Zubac', 'Darius Miller', 'Aron Baynes',
       'Lauri Markkanen', 'Darius Garland', 'D.J. Augustin', 'Trae Young',
       'Jabari Parker', 'Juan Hernangómez', 'Chris Boucher',
       'Joakim Noah', 'Isaac Okoro', 'Frank Ntilikina', 'DeMarre Carroll',
       'Ish Smith', 'Jarrett Culver', 'Alec Burks', 'Mo Bamba',
       'Onyeka Okongwu', 'Justin Holiday', 'Dennis Smith Jr.',
       'Avery Bradley', 'Timofey Mozgov', 'Coby White', 'Trey Lyles',
       'Wendell Carter Jr.', 'Zach Collins', 'Malik Monk',
       'Killian Hayes', 'Luke Kennard', 'Ryan Anderson',
       'Donovan Mitchell', 'Bam Adebayo', 'Jaxson Hayes',
       'Justin Jackson', 'Richaun Holmes', 'Enes Kanter', 'Mike Scott',
       'Ed Davis', 'Rodney McGruder', 'Nerlens Noel', 'Daniel Theis',
       'Collin Sexton', 'Luol Deng', 'Pat Connaughton', 'Obi Toppin',
       'Kevon Looney', 'Josh Jackson', 'Garrett Temple', 'Kris Dunn',
       'Elfrid Payton', 'Rui Hachimura', 'Denzel Valentine', 'Kevin Knox',
       'D.J. Wilson', 'Deni Avdija', 'Cam Reddish', 'Mikal Bridges',
       'T.J. Leaf', 'Jalen Smith', 'Cameron Johnson', 'JaVale McGee',
       'Reggie Bullock', 'Shai Gilgeous-Alexander', 'John Collins',
       'Nicolò Melli', 'Devin Vassell', 'P.J. Washington',
       'Willie Cauley-Stein', 'Dorian Finney-Smith', 'Patrick McCaw',
       'Terrance Ferguson', 'Miles Bridges', 'Jarrett Allen',
       'OG Anunoby', 'Gabriel Deck', 'Tyrese Haliburton', 'Tyler Herro',
       'Stanley Johnson', 'Jake Layman', 'Jerome Robinson',
       'Danuel House', 'Kira Lewis Jr.', 'Romeo Langford',
       'Facundo Campazzo', 'Maurice Harkless', 'Bobby Portis',
       'Wesley Matthews', 'Kyle Kuzma', 'Michael Porter Jr.',
       'Jevon Carter', 'Tony Bradley', 'Derrick White', 'Mirza Teletović',
       'Boban Marjanović', 'T.J. McConnell', 'Josh Hart', 'Aaron Nesmith',
       'Sekou Doumbouya', 'Troy Brown Jr.', 'James Ennis', 'Cole Anthony',
       'Zhaire Smith', 'Trey Burke', 'Austin Rivers', 'Jon Leuer',
       'Chuma Okeke', 'Isaiah Stewart', 'Nickeil Alexander-Walker',
       'Patrick Patterson', 'Donte DiVincenzo', 'Michael Carter-Williams',
       'Khem Birch', 'Ryan Arcidiacono', 'Aleksej Pokusevski',
       'Goga Bitadze', 'Lonnie Walker', 'Dewayne Dedmon',
       'Andrew Nicholson', 'Luka Šamanić', 'Josh Green', 'Kevin Huerter',
       'Marko Guduric', 'Alex Caruso', 'Matisse Thybulle', 'Saddiq Bey',
       'Josh Okogie', 'Vincent Poirier', 'Brandon Clarke',
       'Precious Achiuwa', 'Marc Gasol', 'Carmelo Anthony',
       'Dwight Howard', 'Jeff Teague', 'Udonis Haslem', 'Jared Dudley',
       'Wayne Ellington', 'J.J. Barea', 'Jeff Green', 'Grayson Allen',
       'Grant Williams', 'Tyrese Maxey', 'Chandler Hutchison',
       'Darius Bazley', 'Zeke Nnaji', 'Aaron Holiday', 'Bryn Forbes',
       "E'Twaun Moore", 'Markieff Morris', 'Reggie Jackson',
       'DeMarcus Cousins', 'Bismack Biyombo', 'Hassan Whiteside',
       'Kent Bazemore', 'Alex Len', 'Luke Kornet', 'Ty Jerome',
       'Taj Gibson', 'Mike Muscala', 'Ben McLemore', 'Anfernee Simons',
       'Brad Wanamaker', 'Monta Ellis', 'Nassir Little', 'R.J. Hampton',
       'Matthew Dellavedova', 'Solomon Hill', 'Moritz Wagner',
       'Edmond Sumner', 'Dylan Windler', 'Immanuel Quickley',
       'John Konchar', 'Landry Shamet', 'Mfiondu Kabengele',
       'Jordan Poole', 'Bol Bol', 'Keldon Johnson', 'Payton Pritchard',
       'Kevin Porter Jr.', 'Robert Williams', 'Langston Galloway',
       'Tyler Johnson', 'Jacob Evans', 'Gary Clark', 'Théo Maledon',
       'Kenrich Williams', 'Damyean Dotson', 'Omari Spellman',
       'Cameron Payne', 'Udoka Azubuike', 'Jaden McDaniels',
       'Malachi Flynn', 'Desmond Bane', 'Anderson Varejão',
       'Jontay Porter', 'Jahlil Okafor', 'Raul Neto', 'JaKarr Sampson',
       'Jerian Grant', 'Frank Kaminsky', 'Larry Sanders', 'David Nwaba',
       'Marquese Chriss', 'Timothé Luwawu-Cabarrot', 'Georges Niang',
       'Rodions Kurucs', 'Damion Lee', 'Furkan Korkmaz',
       'Alfonzo McKinnie', 'Abdel Nader', 'Semi Ojeleye',
       "DeAndre' Bembry", 'Willy Hernangómez', 'Shake Milton',
       'Thanasis Antetokounmpo', 'Brandon Goodwin', 'Wesley Iwundu',
       'Harry Giles', 'Torrey Craig', 'Dwayne Bacon', 'Sterling Brown',
       'Monte Morris', 'Gary Trent Jr.', 'Sviatoslav Mykhailiuk',
       'Mitchell Robinson', 'Kendrick Nunn', 'Duncan Robinson',
       'Hamidou Diallo', 'Jalen Brunson', 'Isaac Bonga',
       'Jarred Vanderbilt', "Devonte' Graham", 'Bruce Brown',
       'Drew Eubanks', 'Josh Gray', 'Wenyen Gabriel', 'Terance Mann',
       'KZ Okpala', 'Eric Paschall', 'Cody Martin', 'Nicolas Claxton',
       'Carsen Edwards', 'Bruno Fernando', 'Luguentz Dort',
       'Admiral Schofield', 'Daniel Gafford', 'Chris Silva',
       'Justin James', 'Ignas Brazdeikis', 'Isaiah Roby',
       'Talen Horton-Tucker', 'Jalen Lecque', 'Chris Clemons',
       'Alen Smailagić', 'Matt Thomas', 'Miye Oni', 'Terence Davis',
       'Naz Reid', 'Jaylen Nowell', 'Mychal Mulder', 'Dean Wade',
       'Jalen McDaniels', 'Caleb Martin', 'Javonte Green',
       'Robert Woodard', 'J.R. Smith', "Jae'Sean Tate", 'Zylan Cheatham',
       'DaQuan Jeffries', 'Isaiah Hartenstein', 'Zach Norvell',
       'Kelan Martin', 'Paul Watson', 'Vernon Carey Jr.',
       'Xavier Tillman Sr.', 'Tyrell Terry', 'Ersan İlyasova',
       'Guerschon Yabusele', "Jahmi'us Ramsey", 'Quinn Cook',
       'Nick Richards', 'Kyle Singler', 'Glenn Robinson III',
       'Deividas Sirvydis', 'Elijah Hughes', 'Tre Jones', 'CJ Elleby',
       'Isaiah Joe', 'Jordan Nwora', 'Daniel Oturu', 'Sam Merrill',
       'Anthony Gill', 'Kenyon Martin Jr.', 'Vlatko Čančar',
       'Damian Jones', 'Shaquille Harrison', 'Sindarius Thornwell',
       'Khyri Thomas', 'Cole Aldrich', 'Shaun Livingston',
       'Mamadi Diakite', 'Norvel Pelle', 'Moses Brown', 'Dakari Johnson',
       'Iman Shumpert', 'Alize Johnson', 'Bruno Caboclo', 'A.J. Hammons',
       'Anžejs Pasečņiks', 'Rayjon Tucker', 'Yuta Watanabe', 'Thon Maker',
       'Oshae Brissett', 'Noah Vonleh', 'Frank Jackson', 'Andre Roberson',
       'Justin Anderson', 'Troy Williams', 'Demetrius Jackson',
       'Henry Ellenson', 'Chimezie Metu'], dtype=object)

In [9]:
# For stats filter down to only the seasons to analyze
# Choosing three most recent seasons with complete season data in the csv 
seasons_needed = ["2016-17", "2017-18", "2018-19"]
filter_data_set_df = nba_data_set_df[nba_data_set_df["season"].isin(seasons_needed)]
filter_data_set_df

,Unnamed: 0,player_name,team_abbreviation,age,player_height,player_weight,college,country,draft_year,draft_round,...,pts,reb,ast,net_rating,oreb_pct,dreb_pct,usg_pct,ts_pct,ast_pct,season
9075,9075,Anthony Bennett,BKN,24,203.20,106.594120,Nevada-Las Vegas,Canada,2013,1,...,5.0,3.4,0.5,-10.6,0.104,0.207,0.191,0.533,0.075,2016-17
9076,9076,Anthony Brown,ORL,24,200.66,95.707912,Stanford,USA,2015,2,...,3.9,3.0,0.7,1.3,0.048,0.163,0.158,0.430,0.080,2016-17
9077,9077,Anthony Davis,NOP,24,210.82,114.758776,Kentucky,USA,2012,1,...,28.0,11.8,2.1,1.7,0.067,0.269,0.326,0.580,0.110,2016-17
9078,9078,Andrew Wiggins,MIN,22,203.20,90.264808,Kansas,Canada,2014,1,...,23.6,4.0,2.3,-0.5,0.039,0.087,0.288,0.534,0.104,2016-17
9079,9079,Andrew Nicholson,BKN,27,205.74,113.398000,St. Bonaventure,Canada,2012,1,...,2.6,1.6,0.3,-17.6,0.050,0.156,0.178,0.427,0.047,2016-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10626,10626,Abdel Nader,OKC,25,198.12,102.058200,Iowa State,Egypt,2016,2,...,4.0,1.9,0.3,-9.5,0.017,0.139,0.148,0.522,0.044,2018-19
10627,10627,Aaron Holiday,IND,22,185.42,83.914520,UCLA,USA,2018,1,...,5.9,1.3,1.7,7.0,0.008,0.088,0.206,0.518,0.180,2018-19
10628,10628,Aaron Gordon,ORL,23,205.74,99.790240,Arizona,USA,2014,1,...,16.0,7.4,3.7,1.5,0.047,0.165,0.213,0.538,0.166,2018-19
10629,10629,Alec Burks,SAC,27,198.12,97.068688,Colorado,USA,2011,1,...,8.8,3.7,2.0,-11.1,0.021,0.151,0.185,0.523,0.142,2018-19
10630,10630,Zhaire Smith,PHI,20,193.04,90.264808,Texas Tech,USA,2018,1,...,6.7,2.2,1.7,7.3,0.028,0.087,0.166,0.533,0.101,2018-19

In [10]:
pd.options.display.float_format = '{:,.2f}'.format

In [11]:
# Filter the df down to the desired columns
stats_needed_df = filter_data_set_df[["season", "player_name", "player_height", "pts", "reb", "ast", "team_abbreviation", "college", "country"]]
stats_needed_df

,season,player_name,player_height,pts,reb,ast,team_abbreviation,college,country
9075,2016-17,Anthony Bennett,203.20,5.00,3.40,0.50,BKN,Nevada-Las Vegas,Canada
9076,2016-17,Anthony Brown,200.66,3.90,3.00,0.70,ORL,Stanford,USA
9077,2016-17,Anthony Davis,210.82,28.00,11.80,2.10,NOP,Kentucky,USA
9078,2016-17,Andrew Wiggins,203.20,23.60,4.00,2.30,MIN,Kansas,Canada
9079,2016-17,Andrew Nicholson,205.74,2.60,1.60,0.30,BKN,St. Bonaventure,Canada
...,...,...,...,...,...,...,...,...,...
10626,2018-19,Abdel Nader,198.12,4.00,1.90,0.30,OKC,Iowa State,Egypt
10627,2018-19,Aaron Holiday,185.42,5.90,1.30,1.70,IND,UCLA,USA
10628,2018-19,Aaron Gordon,205.74,16.00,7.40,3.70,ORL,Arizona,USA
10629,2018-19,Alec Burks,198.12,8.80,3.70,2.00,SAC,Colorado,USA
10630,2018-19,Zhaire Smith,193.04,6.70,2.20,1.70,PHI,Texas Tech,USA

In [12]:
# Identify unique number of players across the three seasons examined
players = stats_needed_df["player_name"].unique()
print(len(players))
players

748

array(['Anthony Bennett', 'Anthony Brown', 'Anthony Davis',
       'Andrew Wiggins', 'Andrew Nicholson', 'Andrew Harrison',
       'Andrew Bogut', 'Amir Johnson', 'Andre Iguodala', 'Andre Drummond',
       'Anderson Varejao', 'Alonzo Gee', 'Allen Crabbe', 'Alexis Ajinca',
       'Anthony Morrow', 'Alex Poythress', 'Alex Len', 'Andre Roberson',
       'Anthony Tolliver', 'Boban Marjanovic', 'Arinze Onuaku',
       'Brandon Ingram', 'Alex Abrines', 'Brandon Bass', 'Brandan Wright',
       'Bradley Beal', 'Boris Diaw', 'Bojan Bogdanovic', 'Bobby Portis',
       'Archie Goodwin', 'Bobby Brown', 'Beno Udrih', 'Ben McLemore',
       'Ben Bentil', 'Axel Toupane', 'Avery Bradley', 'Austin Rivers',
       'Arron Afflalo', 'Aron Baynes', 'Blake Griffin', 'Alec Burks',
       'Vince Carter', 'Alan Anderson', 'Tyus Jones', 'Udonis Haslem',
       'Victor Oladipo', 'Wade Baldwin IV', 'Wayne Ellington',
       'Wayne Selden', 'Wesley Johnson', 'Wesley Matthews',
       'Tyson Chandler', 'Will Barton', 'Willie Reed',
       'Willy Hernangomez', 'Wilson Chandler', 'Yogi Ferrell',
       'Zach LaVine', 'Zach Randolph', 'Zaza Pachulia',
       'Brandon Jennings', 'Willie Cauley-Stein', 'Alan Williams',
       'Tyreke Evans', 'Tyler Ulis', 'Al-Farouq Aminu', 'Al Jefferson',
       'Al Horford', 'Adreian Payne', 'Aaron Harrison', 'Aaron Gordon',
       'Aaron Brooks', 'AJ Hammons', 'Tyler Zeller', 'Trevor Ariza',
       'Trey Burke', 'Trey Lyles', 'Tristan Thompson', 'Troy Daniels',
       'Troy Williams', 'Ty Lawson', 'Tyler Ennis', 'Tyler Johnson',
       'Trevor Booker', 'Brandon Knight', 'Bismack Biyombo',
       'Brian Roberts', 'Kyle Wiltjer', 'Kyle Singler', "Kyle O'Quinn",
       'Kyle Lowry', 'Kyle Korver', 'Kyle Anderson', 'Kristaps Porzingis',
       'Kris Humphries', 'Kris Dunn', 'Kosta Koufos', 'Klay Thompson',
       'Khris Middleton', 'Kevon Looney', 'Kevin Seraphin',
       'Kyrie Irving', 'Kevin Love', 'Kentavious Caldwell-Pope',
       'Kent Bazemore', 'Kenneth Faried', 'Kemba Walker',
       'Kelly Oubre Jr.', 'Kelly Olynyk', 'Kay Felder', 'Kawhi Leonard',
       'Karl-Anthony Towns', 'KJ McDaniels', 'Jusuf Nurkic',
       'Justise Winslow', 'Justin Holiday', 'Justin Harper',
       'Kevin Durant', 'Justin Hamilton', 'LaMarcus Aldridge',
       'Lance Stephenson', 'Marquese Chriss', 'Markieff Morris',
       'Mario Hezonja', 'Marcus Thornton', 'Marcus Smart',
       'Marcus Morris', 'Marcus Georges-Hunt', 'Marco Belinelli',
       'Marcin Gortat', 'Marcelo Huertas', 'Marc Gasol', 'Manu Ginobili',
       'Manny Harris', 'Malik Beasley', 'Lamar Patterson',
       'Malcolm Delaney', 'Malachi Richardson', 'Luol Deng',
       'Luke Babbitt', 'Luis Scola', 'Lucas Nogueira', 'Luc Mbah a Moute',
       'Lou Williams', 'Leandro Barbosa', 'LeBron James', 'Lavoy Allen',
       'Larry Sanders', 'Larry Nance Jr.', 'Langston Galloway',
       'Lance Thomas', 'Malcolm Brogdon', 'Justin Anderson',
       'Julius Randle', 'Juancho Hernangomez', 'Jeremy Lamb',
       'Jerami Grant', 'Jeff Withey', 'Jeff Teague', 'Jeff Green',
       'Jaylen Brown', 'Jason Terry', 'Jason Smith', 'Jarrod Uthoff',
       'Jarrett Jack', 'Jarnell Stokes', 'Brandon Rush', 'Jarell Eddie',
       'Jared Sullinger', 'Jeremy Lin', 'Jared Dudley',
       'James Michael McAdoo', 'James Jones', 'James Johnson',
       'James Harden', 'James Ennis III', 'Jameer Nelson', 'Jamal Murray',
       'Jamal Crawford', 'Jakob Poeltl', 'Jake Layman', 'Jahlil Okafor',
       'Jae Crowder', 'Jabari Parker', 'JaVale McGee', 'James Young',
       'Jerian Grant', 'Jerryd Bayless', 'Jimmy Butler', 'Jrue Holiday',
       'Josh Richardson', 'Josh McRoberts', 'Josh Huestis',
       'Jose Calderon', 'Jordan Mickey', 'Jordan McRae', 'Jordan Hill',
       'Jordan Farmar', 'Jordan Crawford', 'Jordan Clarkson',
       'Jonathon Simmons', 'Jonathan Gibson', 'Jonas Valanciunas',
       'Jonas Jerebko', 'Jon Leuer', "Johnny O'Bryant III", 'Joakim Noah',
       'Jodie Meeks', 'Joe Harris', 'Joe Ingles', 'Joe Johnson',
       'Joe Young', 'Marreese Speights', 'Joel Anthony', 'Joel Embiid',
       'Joffrey Lauvergne', 'John Henson', 'John Jenkins',
       'John Lucas III', 'John Wall', 'Joel Bolomboy', 'JaMychal Green',
       'Marshall Plumlee', 'Mason Plumlee', 'Rondae Hollis-Jefferson',
       'Ronnie Price', 'Roy Hibbert', 'Rudy Gay', 'Rudy Gobert',
       'Russell Westbrook', 'Ryan Anderson', 'Ryan Kelly', 'Salah Mejri',
       'Sam Dekker', 'Sasha Vujacic', 'Sean Kilpatrick', 'Semaj Christon',
       'Serge Ibaka', 'Ron Baker', 'Sergio Rodriguez', 'Shabazz Muhammad',
       'Shabazz Napier', 'Shaun Livingston', 'Shawn Long', 'Sheldon Mac',
       'Shelvin Mack', 'Skal Labissiere', 'Solomon Hill',
       'Spencer Dinwiddie', 'Spencer Hawes', 'Stanley Johnson',
       'Stephen Curry', 'Stephen Zimmerman', 'Steve Novak', 'Seth Curry',
       'Steven Adams', 'Rodney Stuckey', 'Rodney Hood', 'Pat Connaughton',
       'Patricio Garino', 'Patrick Beverley', 'Patrick McCaw',
       'Patrick Patterson', 'Patty Mills', 'Pau Gasol', 'Paul George',
       'Paul Millsap', 'Paul Pierce', 'Paul Zipser', 'Pierre Jackson',
       'Quincy Acy', 'Quinn Cook', 'Rodney McGruder', 'RJ Hunter',
       'Rakeem Christmas', 'Ramon Sessions', 'Randy Foye',
       'Rashad Vaughn', 'Raul Neto', 'Raymond Felton', 'Reggie Bullock',
       'Reggie Jackson', 'Reggie Williams', 'Richard Jefferson',
       'Richaun Holmes', 'Ricky Rubio', 'Robert Covington', 'Robin Lopez',
       'Rajon Rondo', 'T.J. McConnell', 'TJ Warren', 'Taj Gibson',
       'Nicolas Laprovittola', 'Nicolas Brussino', 'Nicolas Batum',
       'Nick Young', 'Nick Collison', 'Nerlens Noel', 'Nene',
       'Nemanja Bjelica', 'Myles Turner', 'Montrezl Harrell',
       'Monta Ellis', 'Mirza Teletovic', 'Mindaugas Kuzminskas',
       'Miles Plumlee', 'Nik Stauskas', 'Mike Tobey', 'Mike Muscala',
       'Mike Miller', 'Mike Dunleavy', 'Mike Conley',
       'Michael Kidd-Gilchrist', 'Michael Gbinije',
       'Michael Carter-Williams', 'Michael Beasley', 'Meyers Leonard',
       'Metta World Peace', 'Maurice Ndour', 'Maurice Harkless',
       'Matthew Dellavedova', 'Matt Barnes', 'Mike Scott', 'Nikola Jokic',
       'Nikola Mirotic', 'Nikola Vucevic', 'Tarik Black',
       'Taurean Prince', 'Terrence Jones', 'Terrence Ross',
       'Terry Rozier', 'Thabo Sefolosha', 'Thaddeus Young',
       'Thomas Robinson', 'Thon Maker', 'Tiago Splitter', 'Tim Frazier',
       'Tim Hardaway Jr.', 'Tim Quarterman', 'Timofey Mozgov',
       'Timothe Luwawu-Cabarrot', 'Tobias Harris', 'Tomas Satoransky',
       'Noah Vonleh', 'Norman Powell', 'Norris Cole', 'Okaro White',
       'Omer Asik', 'Omri Casspi', 'Marvin Williams', 'Otto Porter Jr.',
       'Pascal Siakam', 'Treveon Graham', 'Tony Snell', 'Tony Parker',
       'Tony Allen', 'Toney Douglas', 'PJ Tucker', 'JR Smith',
       'Jarell Martin', 'J.J. Barea', 'Cristiano Felicio',
       "D'Angelo Russell", 'D.J. Augustin', 'Dahntay Jones',
       'Damian Jones', 'Damian Lillard', 'Damjan Rudez', 'Courtney Lee',
       'Daniel Ochefu', 'Danny Green', 'Dante Cunningham', 'Dante Exum',
       'Danuel House', 'Dario Saric', 'Darrell Arthur', 'Darren Collison',
       'Danilo Gallinari', 'Cory Joseph', 'Corey Brewer', 'Cole Aldrich',
       'C.J. Watson', 'CJ McCollum', 'CJ Wilcox', 'Cameron Payne',
       'Caris LeVert', 'Carmelo Anthony', 'Chandler Parsons',
       'Channing Frye', 'Chasson Randle', 'Cheick Diallo',
       'Chinanu Onuaku', 'Chris Andersen', 'Chris McCullough',
       'Chris Paul', 'Christian Wood', 'Clint Capela', 'Cody Zeller',
       'Darrun Hilliard', 'David Lee', 'David Nwaba', 'David West',
       'Diamond Stone', 'Dion Waiters', 'Dirk Nowitzki',
       'Domantas Sabonis', 'Donatas Motiejunas', 'Dorian Finney-Smith',
       'Doug McDermott', 'Dragan Bender', 'JJ Redick', 'Draymond Green',
       'Dwight Howard', 'Dwight Powell', 'Dwyane Wade', "E'Twaun Moore",
       'Ed Davis', 'Edy Tavares', 'Elfrid Payton', 'Deyonta Davis',
       'Buddy Hield', 'Dewayne Dedmon', 'Devin Booker', 'Davis Bertans',
       'DeAndre Jordan', 'DeAndre Liggins', "DeAndre' Bembry",
       'DeMar DeRozan', 'DeMarcus Cousins', 'DeMarre Carroll',
       'Dejounte Murray', 'Delon Wright', 'Demetrius Jackson',
       'Dennis Schroder', 'Denzel Valentine', 'Deron Williams',
       'Derrick Favors', 'Derrick Jones Jr.', 'Derrick Rose',
       'Derrick Williams', 'Devin Harris', 'Bryn Forbes', 'CJ Miles',
       'Brook Lopez', 'Gerald Henderson', 'Gerald Green',
       'Georgios Papagiannis', 'Georges Niang', 'George Hill',
       'Gary Payton II', 'Gary Neal', 'Giannis Antetokounmpo',
       'Gary Harris', 'Fred VanVleet', 'Frank Kaminsky', 'Evan Turner',
       'Evan Fournier', 'Ersan Ilyasova', 'Eric Gordon', 'Bruno Caboclo',
       'Garrett Temple', 'Enes Kanter', 'Glenn Robinson III',
       'Gordon Hayward', 'Ivica Zubac', 'Ish Smith', 'Isaiah Whitehead',
       'Isaiah Thomas', 'Isaiah Taylor', 'Isaiah Canaan', 'Iman Shumpert',
       'Goran Dragic', 'Ian Mahinmi', 'Hollis Thompson', 'Henry Ellenson',
       'Hassan Whiteside', 'Harrison Barnes', 'Greivis Vasquez',
       'Greg Monroe', 'Gorgui Dieng', 'Ian Clark', 'Emmanuel Mudiay',
       'Eric Bledsoe', 'Elijah Millsap', 'Brice Johnson', 'Briante Weber',
       'Emeka Okafor', 'Ekpe Udoh', 'Edmond Sumner', 'Eric Moreland',
       'Dwight Buycks', 'Dwayne Bacon', 'Donovan Mitchell', 'Erik McCree',
       'Gian Clavell', 'Furkan Korkmaz', 'Frank Ntilikina', 'Frank Mason',
       'Guerschon Yabusele', 'Bam Adebayo', 'Ben Moore', 'Ben Simmons',
       'Bogdan Bogdanovic', 'Brandon Paul', 'C.J. Williams',
       'Caleb Swanigan', 'Antonius Cleveland', 'Aaron Jackson',
       'Abdel Nader', 'Alec Peters', 'Alex Caruso', 'Antonio Blakeney',
       'Alfonzo McKinnie', 'Andre Ingram', 'Andrew White III',
       'Ante Zizic', 'Cedi Osman', 'David Stockton', 'Davon Reed',
       "De'Aaron Fox", 'Dennis Smith Jr.', 'Derrick Walton Jr.',
       'Derrick White', 'Devin Robinson', 'Dillon Brooks',
       'Darius Miller', 'Charles Cooke', 'Chris Boucher', 'D.J. Wilson',
       'Danuel House Jr.', 'Daniel Theis', 'Damyean Dotson', 'Damion Lee',
       'Damien Wilkins', 'Dakari Johnson', 'Daniel Hamilton',
       'Ike Anigbogu', 'Quincy Pondexter', 'Reggie Hearn',
       'Scotty Hopson', 'Ryan Arcidiacono', "Royce O'Neale",
       'Rodney Purvis', 'PJ Dozier', 'Myke Henry', 'Monte Morris',
       'Milton Doyle', 'Milos Teodosic', 'Mike James', 'Maxi Kleber',
       'P.J. Tucker', 'Nate Wolters', 'Omari Johnson', 'OG Anunoby',
       'Naz Mitrou-Long', 'Nigel Hayes', 'Semi Ojeleye', 'Vincent Hunter',
       'Vander Blue', 'Tyrone Wallace', 'Tyler Lydon', 'Tyler Dorsey',
       'Tyler Cavanaugh', 'Walt Lemon Jr.', 'Zhou Qi', 'Zach Collins',
       'Xavier Silas', 'Xavier Rathan-Mayes', 'Wes Iwundu',
       'Xavier Munford', 'Trey McKinney-Jones', 'TJ Leaf', 'T.J. Warren',
       'Sterling Brown', 'Sindarius Thornwell', 'Shaquille Harrison',
       'Shane Larkin', 'Terrance Ferguson', 'Travis Wear', 'Torrey Craig',
       'Tony Bradley', 'Thomas Bryant', 'Matt Williams Jr.',
       'Jeremy Evans', 'Jayson Tatum', 'Jaylen Morris', 'John Collins',
       'Josh Hart', 'Josh Gray', 'Jordan Bell', 'Jonathan Isaac',
       'Johnathan Motley', 'John Holland', 'Jawun Evans', 'Jacob Pullen',
       'Jack Cooley', 'Jabari Bird', 'JaKarr Sampson', 'Jacob Wiley',
       'Ivan Rabb', 'Matt Costello', 'Isaiah Hicks', 'Jarrett Allen',
       'Jamil Wilson', 'James Webb III', 'Jamel Artis', 'Jameel Warney',
       'Jalen Jones', 'Josh Jackson', 'Luke Kornet', 'Luke Kennard',
       'Luis Montero', 'Lorenzo Brown', 'Lonzo Ball', 'London Perrantes',
       'Lauri Markkanen', 'Larry Drew II', 'Malcolm Miller', 'Malik Monk',
       'Josh Magette', 'Marquis Teague', 'Markelle Fultz', 'Markel Brown',
       'Mario Chalmers', 'Marcus Paige', 'Marcus Morris Sr.',
       'MarShon Brooks', 'Mangok Mathiang', 'Kadeem Allen',
       'Justin Patton', 'Julyan Stone', 'Josh Smith', 'Kendrick Perkins',
       'Justin Jackson', 'Kyle Kuzma', 'Kyle Collinsworth',
       'Kobi Simmons', 'Khem Birch', 'Isaiah Briscoe', 'George King',
       'Gary Trent Jr.', 'Haywood Highsmith', 'Hamidou Diallo',
       'Harry Giles III', 'Isaac Bonga', 'Isaac Humphries',
       'Grayson Allen', 'Gary Clark', 'Drew Eubanks', 'Duncan Robinson',
       'Dusty Hannahs', 'Dzanan Musa', 'Elie Okobo', 'Emanuel Terry',
       'Frank Jackson', 'Isaiah Hartenstein', 'Jemerrio Jones',
       'Jaylen Adams', 'Jerome Robinson', 'Jevon Carter',
       'Jimmer Fredette', 'Joe Chealey', 'Johnathan Williams',
       'Jarred Vanderbilt', 'J.P. Macura', 'Jacob Evans', 'Jalen Brunson',
       'James Nunnally', 'Jared Terrell', 'Jaren Jackson Jr.',
       'Jaron Blossomgame', 'Bruce Brown', 'Donte Grantham',
       'Bonzie Colson', 'Brad Wanamaker', 'Brandon Goodwin',
       'Brandon Sampson', 'Cameron Reynolds', 'Chandler Hutchison',
       'Chimezie Metu', 'Alize Johnson', 'Allonzo Trier',
       'Amile Jefferson', 'Anfernee Simons', 'Angel Delgado',
       'BJ Johnson', 'Billy Garrett', 'Chris Chiozza',
       'DeVaughn Akoon-Purcell', 'Deandre Ayton', 'Deng Adel',
       'Deonte Burton', "Devonte' Graham", 'Donte DiVincenzo',
       "De'Anthony Melton", 'Collin Sexton', 'DJ Stephens',
       'Dairis Bertans', 'Daryl Macon', 'Jonah Bolden', 'Ryan Broekhoff',
       'Scott Machado', 'Shai Gilgeous-Alexander', 'Shake Milton',
       'Svi Mykhailiuk', 'Tahjere McCall', 'Rawle Alkins', 'Ray Spalding',
       'Robert Williams III', 'Rodions Kurucs', 'Vincent Edwards',
       'Wendell Carter Jr.', 'Yante Maten', 'Yuta Watanabe',
       'Zach Lofton', 'Tyler Davis', 'Theo Pinson', 'Thomas Welsh',
       'Trae Young', 'Trevon Duval', 'Troy Brown Jr.', 'Troy Caupain',
       'Kevin Huerter', 'Kevin Knox II', 'Khyri Thomas',
       'Kostas Antetokounmpo', 'Landry Shamet', 'Kenrich Williams',
       'Jordan Loyd', 'Jordan Sibert', 'Josh Okogie', 'Julian Washburn',
       'Kalin Lucas', 'Keita Bates-Diop', 'Lonnie Walker IV',
       'Miles Bridges', 'Mitchell Creek', 'Mitchell Robinson', 'Mo Bamba',
       'Moritz Wagner', 'Omari Spellman', 'Mikal Bridges', 'Luka Doncic',
       'Marcus Derrickson', 'Marvin Bagley III', 'Melvin Frazier Jr.',
       'Aaron Holiday', 'Zhaire Smith'], dtype=object)

In [13]:
# Want to add a calculated column for height in inches (2.54 cm in an inch)

# Label the current player_height column as cm and add column for height in inches 
stats_with_col_rename_df = stats_needed_df.rename(columns={"player_height":"height (cm)", "team_abbreviation":"team"})
height = stats_with_col_rename_df['height (cm)'] / 2.54
stats_with_col_rename_df["height (in)"] = height

# Reorganize and sort columns
organized_stats_df = stats_with_col_rename_df[["season", "player_name","height (in)","height (cm)","pts","reb","ast","college","country", "team"]]
organized_stats_df = organized_stats_df.sort_values(by=['player_name'])

# View the results
organized_stats_df

,season,player_name,height (in),height (cm),pts,reb,ast,college,country,team
9147,2016-17,AJ Hammons,84.00,213.36,2.20,1.60,0.20,Purdue,USA,DAL
9647,2017-18,Aaron Brooks,72.00,182.88,2.30,0.50,0.60,Oregon,USA,MIN
9146,2016-17,Aaron Brooks,72.00,182.88,5.00,1.10,1.90,Oregon,USA,IND
10628,2018-19,Aaron Gordon,81.00,205.74,16.00,7.40,3.70,Arizona,USA,ORL
9145,2016-17,Aaron Gordon,81.00,205.74,12.70,5.10,1.90,Arizona,USA,ORL
...,...,...,...,...,...,...,...,...,...,...
9862,2017-18,Zaza Pachulia,83.00,210.82,5.40,4.70,1.60,None,Georgia,GSW
10455,2018-19,Zaza Pachulia,83.00,210.82,3.90,3.90,1.30,None,Georgia,DET
10630,2018-19,Zhaire Smith,76.00,193.04,6.70,2.20,1.70,Texas Tech,USA,PHI
9861,2017-18,Zhou Qi,85.00,215.90,1.20,1.20,0.10,None,China,HOU
10622,2018-19,Zhou Qi,85.00,215.90,2.00,0.00,0.00,None,China,HOU

In [14]:
# Use the DataFrame to make a new one with only one line per player with personal info (no multi-year stats)
player_info_df = organized_stats_df[["player_name","height (in)","college","country", "team"]]

player_info_df

         player_name  height (in)     college  country team
9147      AJ Hammons        84.00      Purdue      USA  DAL
9647    Aaron Brooks        72.00      Oregon      USA  MIN
9146    Aaron Brooks        72.00      Oregon      USA  IND
10628   Aaron Gordon        81.00     Arizona      USA  ORL
9145    Aaron Gordon        81.00     Arizona      USA  ORL
...              ...          ...         ...      ...  ...
9862   Zaza Pachulia        83.00        None  Georgia  GSW
10455  Zaza Pachulia        83.00        None  Georgia  DET
10630   Zhaire Smith        76.00  Texas Tech      USA  PHI
9861         Zhou Qi        85.00        None    China  HOU
10622        Zhou Qi        85.00        None    China  HOU

[1556 rows x 5 columns]

In [15]:
# Drop duplicates so each player only appears once in a player_info_df
player_count = player_info_df['player_name'].unique()
unique_players_info_df = player_info_df.drop_duplicates(subset=["player_name"])

# Print length of the list of unique players across the three seasons to analyze and view df
print(len(player_count))
unique_players_info_df

748

          player_name  height (in)           college  country team
9147       AJ Hammons        84.00            Purdue      USA  DAL
9647     Aaron Brooks        72.00            Oregon      USA  MIN
10628    Aaron Gordon        81.00           Arizona      USA  ORL
9144   Aaron Harrison        78.00          Kentucky      USA  CHA
10627   Aaron Holiday        73.00              UCLA      USA  IND
...               ...          ...               ...      ...  ...
10454     Zach Lofton        76.00  New Mexico State      USA  DET
9863    Zach Randolph        81.00    Michigan State      USA  SAC
9134    Zaza Pachulia        83.00              None  Georgia  GSW
10630    Zhaire Smith        76.00        Texas Tech      USA  PHI
9861          Zhou Qi        85.00              None    China  HOU

[748 rows x 5 columns]

In [16]:
# In organized_stats_df, for 3 seasons being analyzed each player has up to three rows 
# Group by player for calculating averages across the 3 seasons
player_groupby = organized_stats_df.groupby(["player_name"])
player_groupby.mean()

                height (in)  height (cm)   pts  reb  ast
player_name
AJ Hammons            84.00       213.36  2.20 1.60 0.20
Aaron Brooks          72.00       182.88  3.65 0.80 1.25
Aaron Gordon          81.00       205.74 15.43 6.80 2.63
Aaron Harrison        78.00       198.12  3.45 1.65 0.90
Aaron Holiday         73.00       185.42  5.90 1.30 1.70
...                     ...          ...   ...  ...  ...
Zach Lofton           76.00       193.04  0.00 0.00 0.00
Zach Randolph         81.00       205.74 14.30 7.45 1.95
Zaza Pachulia         83.00       210.82  5.13 4.83 1.60
Zhaire Smith          76.00       193.04  6.70 2.20 1.70
Zhou Qi               85.00       215.90  1.60 0.60 0.05

[748 rows x 5 columns]

In [17]:
# Create a DataFrame from the group by
mean_groupby_df = pd.DataFrame(player_groupby.mean())
mean_groupby_df

                height (in)  height (cm)   pts  reb  ast
player_name
AJ Hammons            84.00       213.36  2.20 1.60 0.20
Aaron Brooks          72.00       182.88  3.65 0.80 1.25
Aaron Gordon          81.00       205.74 15.43 6.80 2.63
Aaron Harrison        78.00       198.12  3.45 1.65 0.90
Aaron Holiday         73.00       185.42  5.90 1.30 1.70
...                     ...          ...   ...  ...  ...
Zach Lofton           76.00       193.04  0.00 0.00 0.00
Zach Randolph         81.00       205.74 14.30 7.45 1.95
Zaza Pachulia         83.00       210.82  5.13 4.83 1.60
Zhaire Smith          76.00       193.04  6.70 2.20 1.70
Zhou Qi               85.00       215.90  1.60 0.60 0.05

[748 rows x 5 columns]

In [18]:
# May need number of seasons being analyzed for each player (range from 1 to 3)
seasons = player_groupby.count()['season']
seasons

player_name
AJ Hammons        1
Aaron Brooks      2
Aaron Gordon      3
Aaron Harrison    2
Aaron Holiday     1
                 ..
Zach Lofton       1
Zach Randolph     2
Zaza Pachulia     3
Zhaire Smith      1
Zhou Qi           2
Name: season, Length: 748, dtype: int64

In [19]:
# Remove the unwanted column for height in cm
del mean_groupby_df['height (cm)']
mean_groupby_df

                height (in)   pts  reb  ast
player_name
AJ Hammons            84.00  2.20 1.60 0.20
Aaron Brooks          72.00  3.65 0.80 1.25
Aaron Gordon          81.00 15.43 6.80 2.63
Aaron Harrison        78.00  3.45 1.65 0.90
Aaron Holiday         73.00  5.90 1.30 1.70
...                     ...   ...  ...  ...
Zach Lofton           76.00  0.00 0.00 0.00
Zach Randolph         81.00 14.30 7.45 1.95
Zaza Pachulia         83.00  5.13 4.83 1.60
Zhaire Smith          76.00  6.70 2.20 1.70
Zhou Qi               85.00  1.60 0.60 0.05

[748 rows x 4 columns]

In [20]:
# Create a df with player info and the stats averages across seasons being analyzed
merged_player_info_df = pd.merge(mean_groupby_df, unique_players_info_df, on="player_name")
merged_player_info_df

,player_name,height (in)_x,pts,reb,ast,height (in)_y,college,country,team
0,AJ Hammons,84.00,2.20,1.60,0.20,84.00,Purdue,USA,DAL
1,Aaron Brooks,72.00,3.65,0.80,1.25,72.00,Oregon,USA,MIN
2,Aaron Gordon,81.00,15.43,6.80,2.63,81.00,Arizona,USA,ORL
3,Aaron Harrison,78.00,3.45,1.65,0.90,78.00,Kentucky,USA,CHA
4,Aaron Holiday,73.00,5.90,1.30,1.70,73.00,UCLA,USA,IND
...,...,...,...,...,...,...,...,...,...
743,Zach Lofton,76.00,0.00,0.00,0.00,76.00,New Mexico State,USA,DET
744,Zach Randolph,81.00,14.30,7.45,1.95,81.00,Michigan State,USA,SAC
745,Zaza Pachulia,83.00,5.13,4.83,1.60,83.00,None,Georgia,GSW
746,Zhaire Smith,76.00,6.70,2.20,1.70,76.00,Texas Tech,USA,PHI
747,Zhou Qi,85.00,1.60,0.60,0.05,85.00,None,China,HOU

In [21]:
# Remove duplicate column containing height
cleaned_merged_player_info_df = merged_player_info_df.drop("height (in)_y", 1)
cleaned_merged_player_info_df

,player_name,height (in)_x,pts,reb,ast,college,country,team
0,AJ Hammons,84.00,2.20,1.60,0.20,Purdue,USA,DAL
1,Aaron Brooks,72.00,3.65,0.80,1.25,Oregon,USA,MIN
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL
3,Aaron Harrison,78.00,3.45,1.65,0.90,Kentucky,USA,CHA
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND
...,...,...,...,...,...,...,...,...
743,Zach Lofton,76.00,0.00,0.00,0.00,New Mexico State,USA,DET
744,Zach Randolph,81.00,14.30,7.45,1.95,Michigan State,USA,SAC
745,Zaza Pachulia,83.00,5.13,4.83,1.60,None,Georgia,GSW
746,Zhaire Smith,76.00,6.70,2.20,1.70,Texas Tech,USA,PHI
747,Zhou Qi,85.00,1.60,0.60,0.05,None,China,HOU

In [22]:
# Rename the height column that remains
final_merged_player_info_df = cleaned_merged_player_info_df.rename(columns = {"height (in)_x":"height (in)"})
final_merged_player_info_df

,player_name,height (in),pts,reb,ast,college,country,team
0,AJ Hammons,84.00,2.20,1.60,0.20,Purdue,USA,DAL
1,Aaron Brooks,72.00,3.65,0.80,1.25,Oregon,USA,MIN
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL
3,Aaron Harrison,78.00,3.45,1.65,0.90,Kentucky,USA,CHA
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND
...,...,...,...,...,...,...,...,...
743,Zach Lofton,76.00,0.00,0.00,0.00,New Mexico State,USA,DET
744,Zach Randolph,81.00,14.30,7.45,1.95,Michigan State,USA,SAC
745,Zaza Pachulia,83.00,5.13,4.83,1.60,None,Georgia,GSW
746,Zhaire Smith,76.00,6.70,2.20,1.70,Texas Tech,USA,PHI
747,Zhou Qi,85.00,1.60,0.60,0.05,None,China,HOU

In [23]:
final_merged_player_info_df.describe()

       height (in)    pts    reb    ast
count       748.00 748.00 748.00 748.00
mean         78.87   7.20   3.09   1.62
std           3.36   5.46   2.24   1.57
min          69.00   0.00   0.00   0.00
25%          76.00   3.30   1.50   0.60
50%          79.00   5.80   2.58   1.10
75%          81.00   9.47   3.95   2.10
max          87.00  31.87  15.13  10.47

In [24]:
# Merge two df so that salary column for 2020-21 can be displayed
final_nba_stats_df = pd.merge(final_merged_player_info_df, salary_data_filter_df, on="player_name", how = "left")
final_nba_stats_df

,player_name,height (in),pts,reb,ast,college,country,team,2020-21
0,AJ Hammons,84.00,2.20,1.60,0.20,Purdue,USA,DAL,nan
1,Aaron Brooks,72.00,3.65,0.80,1.25,Oregon,USA,MIN,nan
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL,"18,136,364.00"
3,Aaron Harrison,78.00,3.45,1.65,0.90,Kentucky,USA,CHA,nan
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND,"2,345,640.00"
...,...,...,...,...,...,...,...,...,...
761,Zach Lofton,76.00,0.00,0.00,0.00,New Mexico State,USA,DET,nan
762,Zach Randolph,81.00,14.30,7.45,1.95,Michigan State,USA,SAC,nan
763,Zaza Pachulia,83.00,5.13,4.83,1.60,None,Georgia,GSW,nan
764,Zhaire Smith,76.00,6.70,2.20,1.70,Texas Tech,USA,PHI,"3,204,600.00"
765,Zhou Qi,85.00,1.60,0.60,0.05,None,China,HOU,nan

In [25]:
# Explore why 766 rows now following left join (suspect a trade)
# Note: team column displayed below will be from the stats df not the salary df
final_nba_stats_df.head(25)

,player_name,height (in),pts,reb,ast,college,country,team,2020-21
0,AJ Hammons,84.00,2.20,1.60,0.20,Purdue,USA,DAL,nan
1,Aaron Brooks,72.00,3.65,0.80,1.25,Oregon,USA,MIN,nan
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL,"18,136,364.00"
3,Aaron Harrison,78.00,3.45,1.65,0.90,Kentucky,USA,CHA,nan
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND,"2,345,640.00"
5,Aaron Jackson,75.00,8.00,3.00,1.00,None,USA,HOU,nan
6,Abdel Nader,78.00,3.50,1.70,0.40,Iowa State,Egypt,BOS,"1,752,950.00"
7,Adreian Payne,82.00,3.85,1.80,0.20,Michigan State,USA,ORL,nan
8,Al Horford,82.00,13.50,6.97,4.63,Florida,Dominican Republic,BOS,"27,500,000.00"
9,Al Jefferson,82.00,7.55,4.10,0.85,None,USA,IND,nan
10,Al-Farouq Aminu,81.00,9.13,7.50,1.37,Wake Forest,USA,POR,"9,720,900.00"
11,Alan Anderson,78.00,2.90,0.80,0.40,Michigan State,USA,LAC,nan
12,Alan Williams,80.00,5.00,4.80,0.90,Cal-Santa Barbara,USA,BKN,nan
13,Alec Burks,78.00,7.73,3.20,1.23,Colorado,USA,SAC,"6,000,000.00"
14,Alec Peters,81.00,4.10,1.90,0.60,Valparaiso,USA,PHX,nan
15,Alex Abrines,78.00,5.33,1.43,0.53,None,Spain,OKC,nan
16,Alex Caruso,77.00,6.40,2.25,2.55,Texas A&M,USA,LAL,"2,750,000.00"
17,Alex Len,85.00,9.20,6.53,0.97,Maryland,Ukraine,ATL,"4,032,648.00"
18,Alex Len,85.00,9.20,6.53,0.97,Maryland,Ukraine,ATL,"4,032,648.00"
19,Alex Poythress,80.33,5.60,3.03,0.57,Kentucky,USA,ATL,nan
20,Alexis Ajinca,86.00,5.30,4.50,0.30,None,France,NOP,nan
21,Alfonzo McKinnie,80.00,3.10,1.95,0.25,None,USA,TOR,"1,762,796.00"
22,Alize Johnson,81.00,0.90,1.40,0.10,Missouri State,USA,IND,"399,591.00"
23,Allen Crabbe,78.00,11.17,3.53,1.30,California,USA,POR,nan
24,Allonzo Trier,77.00,10.90,3.10,1.90,Arizona,USA,NYK,nan

In [26]:
# Some duplicate player rows identified following salary merge, drop duplicates
# Traced duplicates back to the csv file,played for ATL in our stats, but contracts in 2020-21 are with Tor and Was 
final_nba_stats_df = final_nba_stats_df.drop_duplicates(subset=["player_name"], keep="first")
final_nba_stats_df

,player_name,height (in),pts,reb,ast,college,country,team,2020-21
0,AJ Hammons,84.00,2.20,1.60,0.20,Purdue,USA,DAL,nan
1,Aaron Brooks,72.00,3.65,0.80,1.25,Oregon,USA,MIN,nan
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL,"18,136,364.00"
3,Aaron Harrison,78.00,3.45,1.65,0.90,Kentucky,USA,CHA,nan
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND,"2,345,640.00"
...,...,...,...,...,...,...,...,...,...
761,Zach Lofton,76.00,0.00,0.00,0.00,New Mexico State,USA,DET,nan
762,Zach Randolph,81.00,14.30,7.45,1.95,Michigan State,USA,SAC,nan
763,Zaza Pachulia,83.00,5.13,4.83,1.60,None,Georgia,GSW,nan
764,Zhaire Smith,76.00,6.70,2.20,1.70,Texas Tech,USA,PHI,"3,204,600.00"
765,Zhou Qi,85.00,1.60,0.60,0.05,None,China,HOU,nan

In [27]:
# Create a second df to be used for salary analysis (remove NaN, no salary in 2020-21)
final_nba_stats_with_sal_df = final_nba_stats_df.dropna()
final_nba_stats_with_sal_df

,player_name,height (in),pts,reb,ast,college,country,team,2020-21
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL,"18,136,364.00"
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND,"2,345,640.00"
6,Abdel Nader,78.00,3.50,1.70,0.40,Iowa State,Egypt,BOS,"1,752,950.00"
8,Al Horford,82.00,13.50,6.97,4.63,Florida,Dominican Republic,BOS,"27,500,000.00"
10,Al-Farouq Aminu,81.00,9.13,7.50,1.37,Wake Forest,USA,POR,"9,720,900.00"
...,...,...,...,...,...,...,...,...,...
749,Willie Cauley-Stein,84.00,10.93,6.63,1.97,Kentucky,USA,SAC,"4,000,000.00"
758,Yuta Watanabe,81.00,2.60,2.10,0.50,George Washington,Japan,MEM,"321,893.00"
759,Zach Collins,84.00,5.50,3.75,0.85,Gonzaga,USA,POR,"5,406,255.00"
760,Zach LaVine,77.00,19.77,4.00,3.50,UCLA,USA,MIN,"19,500,000.00"
764,Zhaire Smith,76.00,6.70,2.20,1.70,Texas Tech,USA,PHI,"3,204,600.00"

In [28]:
# Binning the heights
group_names = ["<= 6ft", "6'1\" - 6'3\"", "6'4\" - 6'6\"", "6'7\" - 6'9\"", "6'10\" - 7'", "> 7ft"]
bins = [0, 72, 75, 78, 81, 84, 87]
final_merged_player_info_df["Height Range"] = pd.cut(final_merged_player_info_df["height (in)"], bins, labels=group_names)
final_merged_player_info_df

,player_name,height (in),pts,reb,ast,college,country,team,Height Range
0,AJ Hammons,84.00,2.20,1.60,0.20,Purdue,USA,DAL,"6'10"" - 7'"
1,Aaron Brooks,72.00,3.65,0.80,1.25,Oregon,USA,MIN,<= 6ft
2,Aaron Gordon,81.00,15.43,6.80,2.63,Arizona,USA,ORL,"6'7"" - 6'9"""
3,Aaron Harrison,78.00,3.45,1.65,0.90,Kentucky,USA,CHA,"6'4"" - 6'6"""
4,Aaron Holiday,73.00,5.90,1.30,1.70,UCLA,USA,IND,"6'1"" - 6'3"""
...,...,...,...,...,...,...,...,...,...
743,Zach Lofton,76.00,0.00,0.00,0.00,New Mexico State,USA,DET,"6'4"" - 6'6"""
744,Zach Randolph,81.00,14.30,7.45,1.95,Michigan State,USA,SAC,"6'7"" - 6'9"""
745,Zaza Pachulia,83.00,5.13,4.83,1.60,None,Georgia,GSW,"6'10"" - 7'"
746,Zhaire Smith,76.00,6.70,2.20,1.70,Texas Tech,USA,PHI,"6'4"" - 6'6"""
747,Zhou Qi,85.00,1.60,0.60,0.05,None,China,HOU,> 7ft

In [29]:
final_merged_summary = final_merged_player_info_df.groupby(by = "Height Range").count()["height (in)"].to_frame()

final_merged_summary = final_merged_summary.rename(columns={'height (in)':'player_count'})
final_merged_summary

              player_count
Height Range
<= 6ft                  22
6'1" - 6'3"            109
6'4" - 6'6"            202
6'7" - 6'9"            233
6'10" - 7'             161
> 7ft                   21

In [30]:
# Update the format of percentages in the following
pd.options.display.float_format = '{:.2f}%'.format

In [31]:
# Add percentages column to the df
count_players = len(players)
final_merged_summary['perc_of_players'] = final_merged_summary / count_players * 100
final_merged_summary

              player_count  perc_of_players
Height Range
<= 6ft                  22            2.94%
6'1" - 6'3"            109           14.57%
6'4" - 6'6"            202           27.01%
6'7" - 6'9"            233           31.15%
6'10" - 7'             161           21.52%
> 7ft                   21            2.81%

In [32]:
# Export final_merged_player_info_df 
player_output_path = os.path.join('Output_files_for_analysis', 'player_stats.csv')
final_merged_player_info_df.to_csv(player_output_path, header=True)

In [33]:
# Export final_nba_stats_with_sal_df
salary_output_path = os.path.join('Output_files_for_analysis', 'player_stats_with_sal.csv')
final_nba_stats_with_sal_df.to_csv(salary_output_path, header=True)

In [34]:
# Export organized_stats_df
stats_breakout_by_season_output_path = os.path.join('Output_files_for_analysis', 'player_stats_breakout_by_season.csv')
organized_stats_df.to_csv(stats_breakout_by_season_output_path, header=True)